.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 282px));
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1188px;

}
.cards__paragraph {
    color: #fff;
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1280 - 320)))
}