.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-wrapper__title {
    color: #fff;
    font-size: 40px;
}

.page-wrapper__btn {
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 152, 0);
    background: transparent;
    color: #fff;
    opacity: 1;
    text-decoration: none;
}
.page-wrapper__btn:hover {
    opacity: 0.7;
}
